

.title-art{
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

.title-art h1::first-letter{
    color: #00ff66;
}

.title-art  h1{
    color: #fff;
    font-family: Lexend-500;
    font-size: 35px;
    font-display: swap;

    text-align: center;
}

#artes{
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    display: flex;
}



#artes .art-g{
    width: fit-content;
    max-width: 1250px;
    height: fit-content;
    margin: auto;
    padding: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

    user-select: none;
    
}


#artes .art-g .o{
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 0.2s;
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    user-select: none;
    cursor: pointer;
}

#artes .art-g .o .eye{
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: 0px;
    bottom: 0;

    transition: 0.2s;
    z-index: 50;
    text-decoration: none;
}

#artes .art-g .o .eye{
    filter: invert(1);
    opacity: 20%;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    user-select: none;
    pointer-events: none;
}

#artes .art-g .o:hover .eye{
    width: 30px;
    height: 30px;
    opacity: 100%;
    filter: invert(1);
    transition: 0.3s;
}

#artes .art-g .o img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

#artes .art-g .o:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.411);
    z-index: 100;
}


#artes .art-g .o:hover img{

    filter: brightness(1);
}

.div{
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.modalVisual{
    display:none;

    align-items: center;
    justify-content: center;
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.8);
    z-index: 200;
}

.modalConteudo{
    margin:auto;
    display:block;

    position: relative;

    max-width: 800px;

    z-index: 250;
}

.fechar{
    position: absolute;
    text-align: center;
    
    color:rgba(255, 255, 255, 0.749);
    background-color: #0000007e;

    cursor:pointer;
    
    line-height: 1.15;
    font-size:30px;
    font-family: Lexend-300;
    font-display: swap;

    z-index: 400;

    margin: 5px;

    border-radius: 60%;
    width: 40px;
    height: 40px;
}


.t-a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;
    

    background: radial-gradient(#00fc4c20 5%, transparent 70%);
    background-position: center;

    position: relative;   
    margin-bottom: 200px;
}

.i-ca{
    width: 500px;
    margin: 2px;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
}
.c-a{
    border-radius: 60%;
    position: relative;

    border: #fff 2px dashed;
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    margin: 10px;   
    transition: 0.3s; 
    cursor: pointer;  
    background-color: rgba(0, 0, 0, 0.434);  
}

.i-ca p{
    position: relative;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    
    width: 100%;
    height: 100%;

    color: #ffffffaf;

    font-family: Lexend-300;
    font-display: swap;

}

.c-a:hover{
    background-color: #ffffff1a;
}


.a2d, .a3d{
    padding: 0;
    width: 80px;
    min-height: 80px;
    min-width: 80px;
    height: 80px;

    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px;

    overflow: hidden;
    filter: invert(1) sepia(10) saturate(25) hue-rotate(59deg);
}


.a2d img, .a3d img{
    margin: 0;
    width: 100%;
    height: 100%;
}

.a2d{
    animation: a3d 30s infinite linear;
}

.a3d{
    animation: a2d 10s infinite linear;
}

@keyframes a3d{
    0%,100%{
        transform: rotate(360deg);
    }

    50%{
        transform: rotate(-360deg);

    }
}

@keyframes a2d{
    0%,100%{
        transform:scale(0.8) rotate(0deg);
    }

    50%{
        transform: scale(1) rotate(20deg);

    }
}


footer{
    width: 100%;
    height: 80px;
    
    background-color:#0e0e0eae;
    border-top: #00ff66 1px dashed;
    bottom: 0;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer p{
    color: #97a59b;
    
    text-align: center;
    font-family: Lexend-300;
    font-display: swap;
    font-size: 15px;
    margin: auto;
    position: absolute;
}


#b3d, #b2d{
    color: #00ff66;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    position: relative;
}

.b3d, .b2d{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b3d .line{
    margin-top: 9vh;
}

.b3d p, .b2d p{
    color: rgb(128, 128, 128);
    
    font-family: Arial;
    font-display: swap;
    font-weight: 300;
    font-size: 14px;

    text-align: center;
    line-height: 2;

    width: 80%;
    margin: 20px 0 60px 0;

    max-width: 900px;
}

/* footer icons */

.icos-footer{
    display: inline;
    width: fit-content;
    margin-left: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}

.icos-footer .ico{
    width: fit-content;
    height: fit-content;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 10px;
   
}

.icos-footer .ico a img{
    width: 25px;
    height: 25px;
    filter: invert(0.3);
    transition: 0.2s;
}

.icos-footer .ico:hover a img{
    width: 25px;
    height: 25px;
    filter: invert(0.9);
    transition: 0.2s;
}