@media only screen and (max-width: 685px) {


    .init{
        height: 620px;
    }

    /* .quad-1{
        display: none;
    } */


    .escrito{
        height: fit-content;
    }

    .title{
        top: 0px;
    }

    #memul{
        margin-right: auto;
        position:relative;
        width: 100%;

    }

    .memul ul li{
        margin: 0px;
        list-style: none;
        padding: 0px;
    }
    
    .menu ul li a{
        font-family: Arial;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: 600;
        position: fixed;
    }
    
    .memul ul li a:hover{
        color: rgb(38, 38, 38);
    }

    .sticky{
        position: fixed;
        display: flex;
        flex-direction: column;

        width: 100%!important;
        height: 50px!important;

        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        background-color: transparent!important;
        text-align: center!important;     
        border-radius: 0!important;
    }

    .sticky .m{
        top: 50px;
        position: relative;
        background-color: #0f0f12f7!important;
        height: 30px!important;
        width: 100px!important;
        margin: 0px!important;
        padding: 12vh 100vh!important;

        display: block!important;
        z-index: 1000!important;

        border-radius: 0!important;
        text-align: center!important;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;

    }

    .sticky button{
        padding: 0;
        color: rgb(169, 169, 169);
        font-weight: 100;
        position: relative;
        margin: 0!;
        left: 0;
        top: 0;
    }

    .sticky #but, #memul #but{
        
        padding: 0!important;
        border: #00ff66 1px solid!important;
        background-color: rgba(26, 77, 36, 0.315)!important;
        color: #fff!important;
        width: 50px;
        height: 25px;
        top: 0;
        left: 0;
    }

    .sticky .burg {
        display: flex!important;
        background-color: transparent!important;
        right: 0;
        margin: 0!important;
        position: absolute;
    }


    .viraisso .m{
        display: none!important;
    }

    .burg #but{

    }
   
    #about-subpagina  .content-about  h1{  
        right: -20px;
    }



}

@media only screen and (max-width: 770px) {
    
    .left, .right{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .left p{
    font-weight: 500;
    font-family: Lexend;
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
    width: 100%;
    color: #bdbdbd;
    line-height: 2;
}
    .right .p{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .right .p .item{

        position: relative;
    
        width: 90px;
        height: 90px;

        margin:20px;

    }

    .left h1, .right h1{
        text-align: center;
    }

  }


  @media only screen and (max-width: 850px) {
    #about-subpagina  .content-about  h1{  
        right: -20px;
    }

  }