@font-face{
    font-family: 'potra';
    src: url(/fonts/Potra.ttf);
}


@font-face{
    font-family: 'sk';
    src: url(/fonts/Scratch\ I.ttf);
}

@font-face{
    font-family: 'minimal';
    src: url(/fonts/minimal.otf);
}

@font-face{
    font-family: 'basie';
    src: url(/fonts/Antapani-ExtraBold.otf);
}

@font-face{
    font-family: 'font1';
    src: url(/fonts/font.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;800&display=swap');

*::-webkit-scrollbar { 
    width: 6px;
    background-color: #DADADA;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.756); 
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}


*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    scroll-behavior:smooth;
    font-family: Arial;
    }

body{
    height: 100%;
    width: 100%;
}

/* inicial */

#init{
    background: linear-gradient(rgb(5, 19, 30),rgb(35, 38, 43)40%);
}

/* botao init */

button{
    width: 160px;
    height: 40px;
    margin: 30px;
    justify-content: center;
    display: inline;
    align-items: center;
    border-radius: 60px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

button a{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    outline: none;
}

/* titulo */

.title{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    top:  0px;
}

.title h1{
    font-weight: 800;
    font-size: 30px;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    user-select: none;
}

.title h3{
    line-height: 50px;
    font-weight: 100;
    font-size: 13px;
    font-family: Helvetica;
    color: rgb(109, 109, 109);
    user-select: none;
}

.title h1 span{
    color: #ff0044;
    font-weight: 800;
}

.title #start{
    background-color: #404151;
    border: none;
    backdrop-filter: blur(2px) saturate(0.4);
    font-size: 22px;
    font-family: 'ww';
    letter-spacing: 5px;
}

.title #start:hover{
    background-color: #e3004f;
    backdrop-filter: blur(2px) saturate(1);
    pointer-events: all!important;
    user-select: all!important;
    z-index: 1000;
}

.title #start a{
    color: #ffffff;
    pointer-events: all!important;
    user-select: none!important;
    z-index: 1000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 12px 39px;
    border-radius: 60px;
}

/* menu */

.menu{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: transparent;
    z-index: 9999;
    display:flex;
    align-items: center;
}
    

#memul{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 40px;
    height: 70%;
    background-color: transparent;
    border-radius: 70px;
    margin-left: 10px;
    font-size: 14px;
}

.burg{
    display: none;
}

.sticky{
    transition: 0.3s!important;
    background-color: rgba(43, 47, 52, 0.605)!important;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.sticky li a:hover{
    color: rgb(255, 0, 43)!important;
}

.sticky li {
    transition: 0.3s!important;
}

.sticky li a{
    transition: 0.3s!important;
    color: rgb(227, 227, 227)!important;
}


.menu ul li{
    margin-left: 25px;
    list-style: none;
    background-color: transparent;
    border-radius: 70px;
    padding: 6px 20px;
}

.menu ul li a{
    font-family: Arial;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.menu ul li a:hover{
    color: rgb(255, 0, 43);
}

/* paginas */

.pages{
    height: 100vh;
    width: 100%;
    max-width: 100%;
}

#audiovisual, #contact, #code{
    background: rgb(35, 38, 43);
    position: relative;
}

#audiovisual{
    border: 1px solid rgb(255, 0, 0);
}

#contact{
    border: 1px solid blue;
}

#code{
    border: 1px solid yellow;
}


/* fim do inicio */

/* geral para todas as paginas */
.titulo-page{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100px;
    font-weight: 100;
    font-family: 'sk';
    font-size: 60px;
    text-align: center;
}


.galery{
    border: 1px solid black;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.galery::-webkit-scrollbar{
    height: 10px;
}

.cards{
    width: 400px;
    height: 600px;
    min-width: 400px;
    min-height: 600px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #131315;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.cards h2{
    color: rgb(205, 205, 205);
    font-size: 45px;
    font-family: 'Lexend';
    font-weight: 800;
    z-index: 1;
    position: absolute;
    top: 30%;
}

.cards p{
    color: rgb(205, 205, 205);
    font-size: 25px;
    font-family: 'Lexend';
    font-weight: 300;
    z-index: 1;
}

.cards button{
    position: absolute;
    bottom: 20%;
    z-index: 1;
}

 .experience{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;


}
.experience h2{
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    z-index: 2;
    position: absolute;
    top: 5%;
}

.experience p{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 2vh;
    z-index: 2;
    position: absolute;
    width: 50%;
    max-width: 50%;
    height: 20%;
    max-height: 20%;
    top: 12%;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    color: #8e8e8e;
    white-space: nowrap;
    
}
