:root{

    --write: #fff;

    --green-1: #00ff66;

    --pink-0: #1a1821;
}


@font-face{
    font-family: 'sk';
    src: url(/fonts/Scratch\ I.ttf);
}

@font-face{
    font-family: 'minimal';
    src: url(/fonts/minimal.otf);
}

@font-face{
    font-family: 'basie';
    src: url(/fonts/Antapani-ExtraBold.otf);
}

@font-face{
    font-family: 'font1';
    src: url(/fonts/font.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;800&display=swap');

*::-webkit-scrollbar { 
    width: 6px;
    background-color: #DADADA;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.756); 
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}


*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    scroll-behavior:smooth;
    font-family: Arial;
    }

body{
    height: 100%;
    width: 100%;
}

/* inicial */

#init{
    background: linear-gradient(rgb(5, 19, 30),rgb(35, 38, 43)40%);
}

#init img{
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -5;
    filter: brightness(0.2);

}

.gradient{
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(205, 196, 196, 0),#23262b);
    bottom: 0;
    position: absolute;
    object-fit: cover;

    
}

/* botao init */

button{
    width: 160px;
    height: 40px;
    margin: 30px;
    justify-content: center;
    display: inline;
    align-items: center;
    border-radius: 60px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

button a{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    outline: none;
}

/* titulo */

.title{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    top:  0px;
}

.title h1{
    font-weight: 800;
    font-size: 30px;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    user-select: none;
}

.title h3{
    line-height: 50px;
    font-weight: 100;
    font-size: 13px;
    font-family: Helvetica;
    color: rgb(109, 109, 109);
    user-select: none;
}

.title h1 span{
    color: #ff0044;
    font-weight: 800;
}

.title #start{
    background-color: #404151;
    border: none;
    backdrop-filter: blur(2px) saturate(0.4);
    font-size: 22px;
    font-family: 'ww';
    letter-spacing: 5px;
}

.title #start:hover{
    background-color: #e3004f;
    backdrop-filter: blur(2px) saturate(1);
    pointer-events: all!important;
    user-select: all!important;
    z-index: 1000;
}

.title #start a{
    color: #ffffff;
    pointer-events: all!important;
    user-select: none!important;
    z-index: 1000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 12px 39px;
    border-radius: 60px;
}

/* menu */

.menu{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: transparent;
    z-index: 9999;
    display:flex;
    align-items: center;
}
    

#memul{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 40px;
    height: 70%;
    background-color: transparent;
    border-radius: 70px;
    margin-left: 10px;
    font-size: 14px;
}

.burg{
    display: none;
}

.sticky{
    transition: 0.3s!important;
    background-color: rgba(43, 47, 52, 0.605)!important;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.sticky li a:hover{
    color: rgb(255, 0, 43)!important;
}

.sticky li {
    transition: 0.3s!important;
}

.sticky li a{
    transition: 0.3s!important;
    color: rgb(227, 227, 227)!important;
}


.menu ul li{
    margin-left: 25px;
    list-style: none;
    background-color: transparent;
    border-radius: 70px;
    padding: 6px 20px;
}

.menu ul li a{
    font-family: Arial;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.menu ul li a:hover{
    color: rgb(255, 0, 43);
}

/* paginas */

.pages{
    height: 100vh;
    width: 100%;
    max-width: 100%;
}

#audiovisual, #contact, #code{
    background: rgb(35, 38, 43);
    position: relative;
}

#audiovisual{
    /* border: 1px solid rgb(255, 0, 0); */
    z-index: 2;
}

#contact{
    /* border: 1px solid blue; */
}

#code{
    /* border: 1px solid yellow; */
}


/* fim do inicio */

/* geral para todas as paginas */


#audiovisual{
    height: fit-content;
}


.galery{
    width: 100%;
    height: fit-content;
    max-height: fit-content;

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--green-1) -20%,rgba(255, 255, 255, 0) 50%);
    background-size: 4px;

    z-index: 3;


}

.cards{
    width: 45%;
    min-width: 250px;
    max-width: 500px;

    height: 40vh;
    background-color: var(--pink-0);
    box-shadow: black 0 0 13px;
    border-radius: 10px;

    position: relative;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 0;

    padding: 30px;

    z-index: 5;

}

.cards .img{
    width: 130px;
    height: 130px;
    border-radius: 60%;
    overflow: hidden;
}

.cards .img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards h2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Lexend';
    font-weight: 800;
    z-index: 1;
}

.cards p{
    color: var(--green-1);
    font-size: 15px;
    font-family: 'Lexend';
    font-weight: 500;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}


.cards button{
    z-index: 1;
    background-color: var(--green-1);
    color: var(--write);
    width: fit-content;
    height: fit-content;
    padding: 5px 20px;
}

.line{
    height: 10px;
    width: 80%;
    border-bottom:  1px solid #909194;
    z-index: 10;
    position: relative;
    margin-left: auto;
    background: #1ed56746;
    margin-right: auto;
}



#contact{
    position: relative;

}

.contact-align{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
    padding: 20px;
}

.contact-align h1{
    font-family: Lexend;
    font-family: 500;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
.contact-align h1::first-letter{
    font-family: Lexend;
    font-family: 500;
    color: var(--green-1)
}

.contact-align p{
    font-family: Lexend;
    font-size: 1.5vh;
    font-weight: 300;
    width: 100%;
    color: #bdbdbd;
    width: 90%;
    line-height: 1.9;
    text-align: justify;
    padding: 20px;


    min-width: 300px;
    display: flex;
    align-items: center;    

}


.left{
    flex-direction: column;
    width: 50%;
    height: fit-content;
    min-width:300px;
    margin-right: auto;

}

.left h1, .left p{
    position: relative;
 
}

.right{
    width: 50%;
    height: fit-content;
    margin-left: auto;
    min-width:300px;
}

.right h1, .right p{
    position: relative;
}

@media (max-width: 640px){
    .left, .right{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .left p, .right p{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}