@media only screen and (max-width:400px) {
    .quad .q-a{
        width: 300px!important;
        max-width: 300px!important;
        min-width: 300px!important;
    
        min-height: 250px;
        max-height: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 685px) {


    .init{
        height: 620px;
    }

    /* .quad-1{
        display: none;
    } */


    .escrito{
        height: fit-content;
    }

    .title{
        top: 0px;
    }

    .menu #memul{
        padding: 0!important;
        margin: 0px!important;
        left: 0!important;
        float: none!important;
        width: 100%!important;
        height: 100%!important;
        background-color: #0e0f0fec!important;
        border-radius: 0!important;
    }

    .menu #memul .m{
        top: 0px;
        left: 0;
        position: relative;
        background-color: transparent!important;

        height: 30px!important;
        width: 25%!important;
        margin: 0px!important;

        display: block!important;
        z-index: 1000!important;

        border-radius: 0!important;
        text-align: center!important;
        justify-content: center!important;
        display: flex!important;
    }

    .menu{
        width: 100%!important;
        background-color: transparent;
        padding: 0!important;
        margin: 0px!important;
        left: 0!important;
        float: none!important;
    }

    .menu .sticky{
        padding: 0!important;
        margin: 0px!important;
        left: 0!important;
        float: none!important;
        width: 100%!important;
        height: 100%!important;
        background-color: transparent!important;

        border-bottom: #0dc648 1px solid;

    }

    #memul ul li{
        margin: 0px;
        list-style: none;
        padding: 0px;
        left: 0;
        top: 0;
    }
    
    .menu ul li a{
        font-family: Arial;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: 600;
        position: fixed;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        
    }
    
    .memul ul li a:hover{
        color: rgb(38, 38, 38);
    }

    .sticky{
        position: fixed;
    
        width: 100%!important;
        height: 50px!important;

        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        background-color: transparent!important;
        text-align: center!important;     
        border-radius: 0!important;
    }

    .sticky .m{
        top: 0px;
        left: 0;
        position: relative;
        background-color: transparent!important;
        height: 30px!important;
        width: 30px!important;
        margin: 0px!important;

        display: block!important;
        z-index: 1000!important;

        border-radius: 0!important;
        text-align: center!important;
        justify-content: center!important;
        display: flex!important;
    }

    #memul .m a{
        width: fit-content!important;
        height: fit-content!important;
    }

    .viraisso .m{
        display: block;
        
    }
   
    #about-subpagina  .content-about  h1{  
        right: -20px;
    }

    #artes .art-g .o{
        width: 100px;
        height: 100px;   
    }

}

@media only screen and (max-width: 770px) {
    

    .content-align{
    padding: 5px;
    }

    .left, .right{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .left p{
    font-weight: 500;
    font-family: Lexend;
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
    width: 100%;
    color: #bdbdbd;
    line-height: 2;
    padding: 0px;
}
    .right .p{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .right .p .item{

        position: relative;
    
        width: 90px;
        height: 90px;

        margin:20px;

    }

    .left h1, .right h1{
        text-align: center;
    }

  }


  @media only screen and (max-width: 850px) {
    #about-subpagina  .content-about  h1{  
        right: -20px;
    }

  }