
.journeySection{
    flex-direction: column;
    width: 50%;
    height: fit-content;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 750px;

}

.journeySection p{
    font-weight: 500;
    font-family: Lexend-300;
    font-display: swap;

    font-size: 13px;
    font-weight: 500;
    text-align: justify;
    width: 100%;
    color: #bdbdbd;
    line-height: 2;
}

.journeySection h1, .journeySection p{
    position: relative;
 
}

@media (max-width: 700px) {
.journeySection{
    min-width: 100%;
    padding: 0px;
    margin: 0;
}

}
