.journeyAndSkillsWrap {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: fit-content;
  padding: 20px;

  margin-top: 10vh;

  justify-content: center;

  p {
    padding: 20px;
  }

  h1 {
    font-family: Lexend-500;
    font-display: swap;

    color: #fff;
    margin-bottom: 20px;

    &::first-letter {
      color: var(--green-1);
    }
  }
}

@media (max-width: 700px) {
  .journeyAndSkillsWrap {
    padding: 5px;
  }
}
