.skillsSection {
  width: 50%;
  min-height: 330px;
  min-width: 300px;

  padding: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    position: relative;
  }
}

@media (max-width: 700px) {
  .skillsSection {
    width: 100%;
    min-width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;

    h1 {
      align-self: flex-start;
    }
  }
}
