/* menu */

.menu {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 9999;

  display: flex;
  align-items: center;

  background-color: transparent;

  .ulMenu {
    display: flex;
    position: relative;
    display: flex;

    width: fit-content;
    height: 70%;

    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    margin-left: 10px;
    border-radius: 70px;
    font-size: 14px;

    background-color: rgba(0, 0, 0, 0.182);
    backdrop-filter: blur(4px);

    // background-color: transparent;

    li {
      // margin-left: 25px;
      list-style: none;
      background-color: transparent;
      border-radius: 70px;
      padding: 6px 25px;
    }

    li a {
      font-family: Arial;
      font-display: swap;
      font-weight: 600;

      color: rgb(255, 255, 255);
      text-decoration: none;
    }

    li a:hover {
      color: rgb(0, 255, 102);
    }
  }
}

@media (max-width: 700px) {
  .menu {
    background-color: transparent;
    margin: 0;
    padding: 0;

    position: fixed;
    left: 0;
    right: 0;

    .ulMenu {
      height: 50px;
      width: 50px;

      border-radius: 60%;

      display: flex;
      flex-direction: column;
      background-color: transparent;

      top: 0;
      left: 0;
      margin: 10px;

      position: absolute;

      cursor: pointer;

      span {
        width: 50px;
        height: 50px;

        border-radius: 60%;
        color: rgb(255, 255, 255);
        background: linear-gradient(rgba(255, 255, 255, 0) 1%, #00ec5e8b 200%);

        box-shadow: 0 0 8px rgba(0, 0, 0, 0.602);
        
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-size: 23px;
      }

      li {
        display: none;
      }
    }
    .oppened {
      display: flex;
      height: fit-content;
      width: 100%;
      max-width: 100vw;

      background-color: #00ec5e97;

      padding: 10px;
      margin: 0;

      position: absolute;
      left: 0;

      border-radius: 0;

      span {
        border-radius: 0;
        box-shadow: none;
        background: none;
      }

      li {
        width: 100%;
        border-radius: 0;
        display: flex;

        margin: 0;
        padding: 0;

        a {
          background-color: rgb(24, 24, 24);
          width: 100%;
          height: 100%;

          margin: 5px;
          padding: 20px;

          border-radius: 3px;

          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: rgb(0, 0, 0);
          }
        }

        &.exit {
          background-color: red;
        }
      }
    }
  }
}
