:root {
  --write: #fff;

  --green-1: #00ff66;

  --pink-0: #1a1821;

  --background: rgb(22, 22, 27);
  --background-dark: rgb(10, 11, 11);

  --start-padding-by-page: 100px;
}

@font-face {
  font-family: Lexend-700;
  font-display: Swap;
  src: url(../fonts/Lexend-Bold.ttf);
}

@font-face {
  font-family: Lexend-300;
  font-display: Swap;
  src: url(../fonts/Lexend-Light.ttf);
}
@font-face {
  font-family: Lexend-500;
  font-display: Swap;
  src: url(../fonts/Lexend-Medium.ttf);
}
@font-face {
  font-family: Lexend-400;
  font-display: Swap;
  src: url(../fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: Lexend-600;
  font-display: Swap;
  src: url(../fonts/Lexend-SemiBold.ttf);
}

@font-face {
  font-family: Lexend-100;
  font-display: Swap;
  src: url(../fonts/Lexend-Thin.ttf);
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #dadada;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.756);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial;
  font-display: swap;

  max-width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

html {
  min-height: 100vh;
  width: 100%;
}

.pages {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  position: relative;

  padding-top: var(--start-padding-by-page);
}

.line {
  height: 1px;
  width: 80%;
  border-bottom: 1px solid #212223;
  z-index: 10;
  position: relative;
  
  margin: 5vh auto;
}



.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.427);
  backdrop-filter: blur(3px);

  top: 0;
  left: 0;

  position: fixed;

  justify-content: center;
  align-items: center;

  z-index: 200000;

  animation: fadeIn 0.1s linear;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.visible{
  display: flex;
}

.invisible{
  display: none;
}

@keyframes fadeIn{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

