.card {
  width: 100%;
  height: 100%;
  position: absolute;

  transition: 0.3s;

  // content: h2 and p
  .content {
    position: absolute;
    z-index: 10;

    margin-left: 20px;
    top: 140px;
    left: 0;

    transition: 0.3s;

    height: fit-content;
    width: fit-content;

    h2 {
      color: rgb(255, 255, 255);
      font-family: Lexend-300;
      font-display: swap;

      background-color: #00ff6600;
      border-bottom: 1px solid #00ff66;

      padding-bottom: 5px;
      margin-bottom: 10px;

      float: left;
      transition: 0.3s;
    }

    p {
      font-family: Arial;
      font-display: swap;

      position: absolute;
      width: fit-content;

      min-width: 200px;
      z-index: 10;

      top: 60px;

      color: rgb(120, 120, 120);
      font-size: 13px;
      line-height: 1.5;

      opacity: 100%;
      transition: 0.3s;
    }
  }

  img.imgMain {
    filter: brightness(0.1) sepia(1) saturate(1) hue-rotate(200deg);

    max-width: 100%;
    width: 100%;
    height: 100%;

    position: relative;
    object-fit: cover;
  }

  &:hover {
    .content {
      top: -10px;
      opacity: 0%;
      transition: 0.3s;
    }

    img.imgMain {
      filter: brightness(0.4) blur(2px);
    }
  }

  // the 2 btns at center
  .btnH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    z-index: 10;

    position: absolute;
    opacity: 0%;

    transition: 0.3s;
    a {
      cursor: pointer;

      z-index: 10;

      transition: 0.2s;

      text-decoration: none;
      font-display: swap;
      font-family: Arial;

      border-radius: 40px;
      width: 35px;
      height: 35px;

      margin: 10px;

      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      .imgBtn {
        position: absolute;
        width: 24px;
        height: 24px;

        opacity: 100%;
        display: flex;
      }

      // When hover in btns
      &:hover {
        width: 100px;
        height: 30px;

        // Show button
        button {
          opacity: 100%;
        }
        // Hidden img of button
        .imgBtn {
          display: none;
        }
        img {
          opacity: 0%;
        }
      }
      // Prop of button (normal state)
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        opacity: 0%;
      }
      &.git {
        background-color: #00000083;
        border: #ffffff 1.5px solid;

        &:hover {
          background-color: #16161a;
          border: rgb(0, 255, 102) 1.5px solid;

          transition: 0.2s;
        }
        img {
          filter: invert(1);
        }
      }
      &.acc {
        background-color: #ffffff;
        border: #ffffff 1.5px solid;

        &:hover {
          background-color: #16161a;
          border: rgb(0, 255, 102) 1.5px solid;

          transition: 0.2s;
        }
        img {
          filter: invert(0);
        }
      }
    }
  }

  // When hover in card show btns
  &:hover .btnH {
    opacity: 100%;
    transition: 0.3s;
  }
}
