
#cardme, #paragraph, #projetosP{
    background: var(--background);
    position: relative;
}


#cardme{
    /* border: 1px solid rgb(255, 0, 0); */
    z-index: 2;
}

/* #paragraph{ */
    /* border: 1px solid blue; */
/* } */

/* #projetos-p{ */
    /* border: 1px solid yellow; */
/* } */


/* fim do inicio */

/* geral para todas as paginas */


#cardme{
    height: fit-content;
}


.galery{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
    padding-top: 20px;
    border: none;


    background: radial-gradient(var(--green-1) -30%,rgba(255, 255, 255, 0) 50%);
    background-size: 8px;

    z-index: 3;
}


.cards{
    width: 45%;
    min-width: 300px;
    max-width: 400px;
/* 
    max-height: 40vh; */
    min-height: fit-content;

    background-color: #111115fc;
    box-shadow: black 0 0 13px;
    border-radius: 10px;

    position: relative;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 0;

    padding: 30px;

    z-index: 5;

}

.cards .icons{
    width: 70%;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .icons .ico{
    width: 25px;
    height: 25px;
    margin: 10px;
}

.cards .icons .ico a img{
    width: 25px;
    height: 25px;
    filter: invert(0.6);
    transition: 0.5s;

}

.cards .icons .ico:hover:first-of-type a img{
    filter: invert(0.9);
    transform: scale(1.06) rotateZ(360deg);
    transition: 0.5s;
}

.cards .icons .ico:hover a img{
    filter: invert(0.9);
    transform: scale(1.06);
    transition: 0.5s;
}

.cards .icons .ico:hover:last-of-type a img{
    filter: invert(0.9);
    transform: scale(1.06) rotateY(180deg);
    transition: 0.5s;
}


.cards .img{
    width: 130px;
    max-width: 130px;
    min-width: 130px;

    height: 130px;
    max-height: 130px;
    min-height: 130px;

    border-radius: 60%;
    overflow: hidden;

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.568);
}

.cards .img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards p{
    color: rgb(137, 137, 137);
    font-size: 15px;
    font-family: Lexend-500;
    font-display: swap;

    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.cards .aboutContact{
    display: inline;
    margin: 0;
    padding: 0;
}

.cards .aboutContact button{
    position: relative;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;

    font-family: Lexend-500;
    font-display: swap;
    font-size: 15px;

    transition: 0.1s;
    border-radius: 60px;
    outline: none;
    cursor: pointer;

    margin-top: 10px;
    margin-bottom: 10px;

    margin-left: 5px;
    margin-right: 5px;
}


.cards .aboutContact .cardAbout{
    background-color: rgb(0, 255, 102);
    color: black;
    
    border: #00ff6600 1px solid;
    
    box-shadow:  0 2px 13px black;
}

.cards .aboutContact .cardContact{
    background-color: rgb(24, 24, 24);
    color: rgb(234, 234, 234);
    
    border: #00ff6600 1px solid;
    
    box-shadow:  0 2px 13px rgba(0, 0, 0, 0.288);
    
}
.cards .aboutContact .cardAbout:hover{
    background-color: rgba(0, 255, 102, 0.098);
    color: rgb(255, 255, 255);
    border: #00ff66 1px solid;
    
    transform: scale(1.06);
    transition: 0.1s;
}

.cards .aboutContact .cardContact:hover{
    background-color: rgba(0, 255, 102, 0.098);
    color: rgb(255, 255, 255);
    border: #00ff66 1px solid;
    
    transform: scale(1.06);
    transition: 0.1s;
}