.sectionProjectsOtherPage {
  width: 100%;
  max-width: 100%;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  .projectCard {
    width: 350px;
    max-width: 350px;
    min-width: 350px;

    min-height: 250px;
    max-height: 250px;
    height: 250px;

    margin: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.242);

    position: relative;

    border-radius: 5px;

    overflow: hidden;

    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: left;
  }
}
